

.smithjones {
    max-width: 100%;

    .architects {
        display: flex;
        margin-left: 7%;
        margin-top: 6%;
        width: 85%;
        justify-content: space-between;
    
        .sjinfo {
            display: flex;
            flex-direction: column;
            margin-right: 5%;
            padding-right: 2%;
            // margin: 2% 2% 2% 5%;
    
            h1 {
                font-weight: bold;
                margin:  10% 2% 2% 0%;
            }
    
            p {
                margin-top: 3%;
                margin-bottom: 4%;
            }
    
            button {
                width: 25%;
                padding: 2% 3%;
                background-color: transparent;
            }
        }
    }

    .designblock {
        display: flex;
        margin-left: 7%;
        margin-top: 8%;
        width: 85%;
    
        .designs {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            padding-left : 2%;
            // margin: 2% 2% 2% 5%;
    
            h1 {
                font-weight: bold;
                margin:  10% 2% 2% 0%;
            }
    
            p {
                margin-top: 3%;
                margin-bottom: 4%;
            }
    
            button {
                width: 27%;
                padding: 2% 3%;
                background-color: transparent;
            }
        }
    }
}

.projects {
    max-width: 100%;
    margin-top: 7%;
    display: flex;
    flex-direction: column;

    .villas {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: 7%;

        h1 {
            margin-bottom: 3%;
            font-weight: bold;
        }

        .villaImg {
            width: 85%;
            position: relative;

            h2 {
            position: absolute;
            bottom: -13%;
            right: -18%;
            font-size: 2.5rem;
            padding: 4% 5%;
            background-color: rgb(211, 216, 218);
            }
        }

        p {
            margin-bottom: 4%;
            margin-top: 8%;
            padding: 0% 29%;
        }
    }

    .skirts {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: 7%;

        h1 {
            margin-bottom: 3%;
            font-weight: bold;
        }

        .outskirtImg {
            width: 85%;
            position: relative;

            h2 {
            position: absolute;
            bottom: -13%;
            right: -18%;
            font-size: 2.5rem;
            padding: 4% 5%;
            background-color: rgb(211, 216, 218);
            }
        }

        p {
            margin-bottom: 4%;
            margin-top: 8%;
            padding: 0% 29%;
        }
    }

    .blocks {
        display: flex;
        flex-direction: column;
        width: 85%;
        margin-left: 7%;

        h1 {
            margin-bottom: 3%;
            font-weight: bold;
        }

        .blocksImg {
            width: 85%;
            position: relative;

            h2 {
            position: absolute;
            bottom: -13%;
            right: -18%;
            font-size: 2.5rem;
            padding: 4% 5%;
            background-color: rgb(211, 216, 218);
            }
        }

        p {
            margin-bottom: 4%;
            margin-top: 8%;
            padding: 0% 29%;
        }
    }

}

