body {
    width: 1000px;
    margin-left: 15%;
    border: 3px solid blue;
}

.topContent {
    width: 94%;
    border: 3px solid palevioletred;

}

.banner {
    width: 100%;

    img {
        width: 100%;
    }
}

.smithjones {
    max-width: 100%;

    .architects {
        display: flex;
        margin-left: 7%;
        margin-top: 6%;
        width: 85%;
        justify-content: space-between;
    
        .sjinfo {
            display: flex;
            flex-direction: column;
            margin-right: 5%;
            padding-right: 2%;
            // margin: 2% 2% 2% 5%;
    
            h1 {
                font-weight: bold;
                margin:  10% 2% 2% 0%;
            }
    
            p {
                margin-top: 3%;
                margin-bottom: 4%;
            }
    
            button {
                width: 25%;
                padding: 2% 3%;
                background-color: transparent;
            }
        }
    }

    .designblock {
        display: flex;
        margin-left: 7%;
        margin-top: 8%;
        width: 85%;
    
        .designs {
            display: flex;
            flex-direction: column;
            margin-left: 5%;
            padding-left : 2%;
            // margin: 2% 2% 2% 5%;
    
            h1 {
                font-weight: bold;
                margin:  10% 2% 2% 0%;
            }
    
            p {
                margin-top: 3%;
                margin-bottom: 4%;
            }
    
            button {
                width: 27%;
                padding: 2% 3%;
                background-color: transparent;
            }
        }
    }
}
